<h1>Edit</h1>

<form action="/users/<%= current_user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="user[name]" placeholder="<%= @user.name%>">
  <input type="text" name="user[email]" placeholder="<%= @user.email%>">
  <input type="submit" name="update" value="Update user">
</form>
